a{
  color: white;
}

a:hover{
  color: red;
}

.beersButton, .webButton{
  float: right;
  margin: 15px;
  display: block;
}

.beerIcon{
  float: right;
  background-color: black;
  background-image: url('../images/NoImageAvailable.png');
  text-align: center;
  background-size: cover;
  margin: 20px;
  border: 4px solid white;
  border-radius: 5px;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  position: relative;
  left: 0px;
  bottom: 0px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  box-shadow: 5px 10px 5px rgba(0,0,0,0.5);
}

.beerIcon:hover{
  width: 500px;
  height: 500px;
  left: 0px;
  bottom: 80px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  box-shadow: 30px 30px 20px rgba(0,0,0,0.5);
}

#beerimage{
  width: 30px;
  height: 40px;
  margin: 5px;
  position: fixed;
}

.beerspeakFacebook{
  border: 2px solid white;
  border-radius: 20px;
  max-width: 560px;
  padding: 20px;
  margin-top: 20px;
  background-color: rgba(0,0,0, 0.6);
  float: right;
}

.beerInfo{
  margin-left: 30px;
  font-size: 1em;
}

.beername{
  margin-left: 15px;
}

#beerPng{
  width: 80px;
  height: 100px;
}

.beerTable{
  /*margin-bottom: 500px;*/
}

body{
  font-family: 'Indie Flower', cursive;
  background-color: black;
  color: white;
  max-width: 100%;
  font-size: 16px;
}

#breweryBanner{
  bottom: 0px;
  width: 30%;
  background-color: rgba(0,0,0, 0.6);
  border-radius: 10px;
  border: 1px solid white;
}

.breweryDescription{
  font-size: 2.5em;
  padding: 20px;
}

.breweryIcon{
  float: left;
  margin: 5px;
  width: 300px;
  height: 100px;
  border-radius: 10px;
  border: 3px solid black;
  position: relative;
  left: 0px;
  bottom: 0px;
  border: 3px solid white;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  box-shadow: 5px 10px 5px rgba(0,0,0,0.5);
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPdobU1CCJ9DUp2ITNsYS8yWOjJfPZUxJgnKaeK-dweYJXI7Qy");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.breweryIcon:hover{
  width: 600px;
  height: 200px;
  z-index: 2;
  margin: 0 auto;
  float: left;
  left: 0px;
  bottom: -40px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  box-shadow: 30px 30px 20px rgba(0,0,0,0.5);
}

.breweryInfo{
  float: left;
  padding: 5px;
  display: block;
}

.breweryName{
  float: left;
  padding: 5px;
  margin-left: 15px;
  display: block;
}

.breweryNameBtn{
  font-size: 1em;
}

#beerspeakComments{
  float: right;
}

#breweryComments{
  /*border: 1px solid white;*/
  border-radius: 20px;
}

.btn{
  box-shadow: 10px 5px 5px rgba(0,0,0, 0.5);
  font-size: 2em;
}

.btn:hover{
  background-color: blue;
}

.btn-danger{
  float: right;
  font-size: 0.5em;
}

.btn-danger:hover{
  background-color: red;
}

button.navbar-toggle{
  visibility: hidden;
}

#content-views {
  position: relative;
}

.container{
  margin-top: 20px;
}

.description{
  margin: 10px;
  line-height: 1em;
  font-size: 1.5em;
}

.description_inputBox{
  height: 100px;
  width: 200px;
  box-shadow: 10px 10px 5px rgba(0,0,0, 0.5);
  color: black;
}

.dropdown{
  width: 200px;
  box-shadow: 10px 10px 5px rgba(0,0,0, 0.5);
  color: gray;
}

#dropMenu{
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 3;
  visibility: hidden;
}

.dropText{
  font-size: 3.125em;
  color: red;
}

.facebookWrapper{
  text-align: center;
  margin-bottom: 50px;
}

.fb-comments{
  /*float: right;*/
  margin-top: 20px;
  background-color: rgba(0,0,0, 0.2);
  /*border: 1px solid white;*/
  border-radius: 20px;
  margin-top: 0px;
  margin-right: 10px;
  width: 35em;
}

.fb-like{
  margin: 20px;
  font-size: 2.5em;
  margin-top: 20px;
}

h1{
  font-size: 4em;
}
h2{
  font-size: 2.5em;
}
h3{
  font-size: 2em;
}
h4{
  font-size: 1.6em;
}

.hidden{
  display: none;
}

#homeBackground{
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: -1;
  position: fixed;
  top: 0px;
  left: 0px;
}

.input{
  width: 200px;
  box-shadow: 10px 10px 5px rgba(0,0,0, 0.5);
  color: black;
}

#laBreweriesTable{
  width: 100%;
}

.loadingDiv{
  width: 200px;
  padding: 50px;
  margin-bottom: 500px;
  text-align: center;
  margin: 0 auto;
}

.loading{
  bottom: 0px;
}

.loadingBeerGif{
  opacity: 0.7;
}

#love{
  color: red;
  text-shadow: 2px 2px #000000;
}

.navbar{
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: rgba(255,255,255, 0.9);
  position: fixed;
  z-index: 3;
  border: 2px solid rgba(0,0,0,0.5);
  font-size: 2em;
}
.navbar-brand{
  font-size: 1em;
}

#nearbyBreweries{
  margin-top: 40px;
}

.ng-enter, .ng-leave {
  width: 100%;
  position: absolute;
}

.ng-enter{
  -webkit-animation:zoomInDown .7s both ease-in;
  -moz-animation:zoomInDown .7s both ease-in;
  animation:zoomInDown .7s both ease-in;
}

.ng-leave{
  -webkit-animation:zoomOutDown 0.5s both ease-in;
  -moz-animation:zoomOutDown 0.5s both ease-in;
  animation:zoomOutDown 0.5s both ease-in;
}

#off_canvas_drop{
  visibility: hidden;
}

p{
  color: white;
}

.rating{
  float: right;
}

.required{
  color: red;
}

.rw-ui-container{
  margin: 20px;
}

#search-bar{
  width: 30em;
  height: 3em;
  font-size: 1.7em;
  display: inline;
  box-shadow: 10px 10px 5px rgba(0,0,0, 0.5);
}

#searchBtn{
  margin-bottom: 10px;
  font-size: 1.0em;
}

.searchInfo{
  font-size: 0.9em;
}

#searchName{
  font-size: .5em;
}

.searchSubmit{
  display: inline;
}

#spinner, #spinnerBreweryBeerShow, #spinnerSearch{
  top: 50%;
  left: 50%;
  text-align:center;
  z-index:2;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
  border: solid 2px white;
  border-radius: 20px;
  margin-left: 20px;
  padding: 100px;
  visibility: hidden;
}

.styleInfo{
  font-size: 1em;
}

.styleInfoName{
  font-size: 2em;
}

.table{
  background-color: rgba(0,0,0,0.5);
}

td{
  font-size: 2em;
  width: 30%;
}

.twitter{
  position: relative;
  float: left;
  margin-top: 20px;
  padding: 10px;
  background-color: rgba(0,0,0, 0.6);
  border: 2px solid white;
  border-radius: 20px;
  width: 1150px;
}

.twitter-timeline{
  font-size: 3em;
}

tbody{
  padding: 20px;
}

.welcome{
  background-color: rgba(0,0,0, 0.4);
  border-radius: 10px;
  border: 2px solid rgba(255,255,255, 0.5);
  margin-top: 40px;
}

.wrapper{
  width: 100%;
}



/*///////////*/
/*star rating*/
/*///////////*/
div.stars {
  width: 150px;
  display: inline-block;
}

input.star { display: none; }

label.star {
  float: right;
  padding-left: 5px;
  font-size: 15px;
  color: rgba(255,255,255, 0.7);
  transition: all .2s;
  /*background-color: rgba(255,255,255, 0.5);*/
}

input.star:checked ~ label.star:before {
  content: '\f005';
  color: #FD4;
  transition: all .25s;
}

input.star-5:checked ~ label.star:before {
  color: #FE7;
  text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before { color: #F62; }

label.star:hover { transform: rotate(-15deg) scale(1.3); }

label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}




/*//////////////
/IPAD Landscape/
//////////////*/
@media  (max-width: 1050px) {
  #breweryBanner{
    width: 150px;
  }
  #beerspeakComments{
    max-width: 400px;
  }
  .breweryDescription{
    font-size: 3em;
  }
  .breweryIcon{
    width: 200px;
    height: 80px;
  }
  input{
    font-size: .7em;
  }
  #dropMenu{
    visibility: visible;
    color: grey;
    background-color: rgba(255,255,255, 0.7);
    font-size: 20px;
    width: 200px;
    height: 30px;
    padding: 30px;
    margin: 0 auto;
  }
  #searchBtn{
    font-size: 1em;
  }
  .navbar-brand{
    font-size: 2em;
  }
  .navLinks{
    visibility: hidden;
  }
  #search-bar{
    font-size: 3em;
    width: 20em;
    height: 2em;
  }
  h1{
    font-size: 6em;
  }
  h2{
    font-size: 5em;
  }
  h3, h4{
    font-size: 4em;
  }
  .btn{
    font-size: .4em;
  }
  body{
    font-size: 1em;
  }
  a{
    font-size: 8em;
  }
  .rw-ui-container, .td2{
    max-width: 150px;
  }
  .td3{
    max-width: 40px;
  }
  .td1{
    max-width: 150px;
  }
  .beerIcon{
    width: 150px;
    height: 150px;
  }
  .beerInfo{
    font-size: 1.8em;
  }
  .breweryIcon{
    width: 250px;
  }
  .beername{
    font-size: 3.75em;
  }
  #beerimage{
    margin-left: 300px;
  }
  #homeBackground{
    width: 130%;
    height: 120%;
    left: -110px;
    top: -40px;
    display: initial;
  }
  .fb-comments{
    padding: 20px;
  }
  .newBreweryButton{
    font-size: .08em;
    margin-top: 250px;
  }
  #nearbyBreweries{
    margin-top: -200px;
  }
  li{
    font-size: 3em;
  }
  #breweryPageLink, #stylesPageLink, #beerspeakPageLink, #searchPageLink{
    font-size: 0.3em;
  }
  .searchInfo{
    font-size: 1.8em;
  }
  #searchName{
    font-size: .6em;
  }
  .styleInfo{
    font-size: 1.75em;
  }
  .styleInfoName{
    font-size: 3em;
  }

  .twitter{
    max-width: 100%;
  }
}

/*//////////////
/IPAD Portrait /
//////////////*/
@media  (max-width: 800px) {

  #homeBackground{
    width: 180%;
    height: 100%;
    left: -110px;
    top: 0px;
    display: initial;
  }
  .beerspeakFacebook{
    max-width: 340px;
  }
  .menu-wrap {
    visibility: visible;
  }
  .navbar-brand{
    font-size: 1em;
  }
  h1{
    font-size: 5em;
  }
  h2{
    font-size: 4em;
  }
  h3{
    font-size: 3em;
  }
  h4{
    font-size: 2.7em;
  }
  #beerimage{
    margin-left: 150px;
  }

  .breweryNameBtn{
    font-size: 0.7em;
  }
  .rw-ui-container{
    float: right;
  }
  td{
    max-width: 540px;
  }
  }

/*///////////////////
/Galaxy S4 Landscape/
///////////////////*/
  @media  (max-width: 700px) {
     #homeBackground{
    width: 110%;
    height: 100%;
    left: -50px;
    top: 0px;
    display: initial;
  }
  .beerspeakFacebook{
    max-width: 500px;
  }
  .breweryDescription{
    font-size: 2.5em;
  }
  .breweryName, .beername{
    font-size: 3em;
  }
  .breweryNameBtn{
    font-size: .2em;
  }
  #beerStyles{
    font-size: 2.8em;
  }
  .breweryIcon:hover{
    width: 400px;
    height: 150px;
    z-index: 2;
    margin: 0 auto;
    float: left;
    left: 0px;
    bottom: -40px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    box-shadow: 30px 30px 20px rgba(0,0,0,0.5);
  }
  .beerIcon:hover{
    width: 300px;
    height: 300px;
    left: 50px;
    bottom: 80px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    box-shadow: 30px 30px 20px rgba(0,0,0,0.5);
  }
  .fb-comments, .twitter{
    float: left;
    width: 500px;
  }
  .loading{
    padding: 0px;
  }
  .loadingBeerGif{
    width: 100px;
  }
  .loadingBeer, #possible{
    font-size: 2em;
  }
  .loadingBeer{
    margin-top: -50px;
  }
  .description{
    font-size: 1.85em;
  }
  .btn{
    font-size: 1.25em;
  }
  #brewType{
    margin-top: -50px;
  }
  .newBreweryButton{
    margin-top: 250px;
    font-size: .05em;
  }
  .navbar-brand{
    font-size: 1em;
  }
  #search-bar{
    width: 500px;
  }

  .styleInfo{
    font-size: 1.5em;
  }
  #searchName{
    font-size: .1em;
  }
  .websiteLink{
    font-size: 1.5em;
  }
  #welcomeText{
    font-size: 4em;
  }
  td{
    max-width: 300px;
  }
  .viewOurBeers{
    font-size: 1.2em;
  }
  }

/*///////////////////
/Galaxy S4 Portrait//
///////////////////*/
@media  (max-width: 400px) {
  .breweryTable{
    margin-left: 30px;
  }
  .breweryNameBtn{
    font-size: 1em;
  }
  .beerspeakFacebook{
    max-width: 300px;
  }
  h1{
    font-size: 5em;
  }
  h2{
    font-size: 4em;
  }
  h3{
    font-size: 3em;
  }
  h4{
    font-size: 2em;
  }
  #homeBackground{
    width: 230%;
    height: 100%;
    left: -110px;
  }
  .beerIcon{
    width: 100px;
    height: 100px;
  }
  .breweryIcon{
    width: 100px;
    height: 50px;
  }
  .breweryIcon:hover{
    width: 300px;
    height: 125px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .beerIcon:hover{
    width: 300px;
    height: 300px;
    left: -20px;
    bottom: 80px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .beersButton, .webButton{
    font-size: 2em;
  }
  .breweryNameBtn{
    margin-top: 30px;
  }
  .breweryDescription{
    padding: 5px;
  }
  .breweryName{
    font-size: 3em;
  }
  #breweryBanner{
    width: 200px;
  }
  .breweryIcon{
    width: 200px;
    height: 75px;
    border-radius: 15px;
  }
  .beerIcon{
    width: 150px;
    height: 150px;
    float: left;
  }
  .btn{
    font-size: .2em;
  }
  .beersButton, .webButton{
    font-size: 1.5em;
  }
  .description{
    font-size: 1.5em;
  }
  .fb-comments{
    width: 240px;
  }
  .breweryTable{

    left: -30px;
    top: 75px;
    position: absolute;
  }
  .fb-comments{
    width: 300px;
  }
  #dropMenu{
    width: 150px;
  }
  input{
    font-size: 1em;
  }
  .loadingBeerGif{
    width: 180px;
    height: 200px;
    margin-left: -30px;
  }
  #nearbyBreweries{
    font-size: 1.3em;
    margin-top: -70px;
  }
  .newBreweryButton{
    margin-top: 100px;
    position: absolute;
    font-size: .15em;
  }
  .rw-ui-container{
    margin-right: 0px;
    position: fixed;
  }
  #search-bar{
    width: 300px;
    font-size: 1.7em;
  }
  .rw-ui-container{
    float: left;
  }
  #searchName{
    font-size: .5em;
    max-width: 250px;
  }
  .searchTable, .searchDiv{
    max-width: 250px;
  }
  .searchDiv{
    margin-left: -10px;
  }
  .searchInfo, .styleInfo{
    font-size: 1.56em;
  }
  .rating{
    float: left;
  }
  .td3{
    /*visibility: hidden;*/
  }
  .td2{
    max-width: 250px;
  }
  .td1{
    max-width: 250px;
  }
   .fb-comments, .twitter{
    float: left;
    width: 300px;
  }
}
