<script>FB.XFBML.parse()</script>


<div class="container text-center">
    <h1>Beer Speak Page</h1>
    <!-- <p>{{beerspeak.message}}</p> -->
</div>

<!-- <div>
  <img id="beerPng" src="http://www.rockthecatzva.com/beer/full%20beer.png" alt="">

</div> -->


  <a class="twitter-timeline" href="https://twitter.com/search?q=%23craftbeer%20OR%20%23craftbeerzilla" width="350" height="500" data-widget-id="637373181527896064">Tweets about #craftbeer OR #craftbeerzilla</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<div class="fb-comments" data-href="http://www.localhost:3000/beerspeak" data-colorscheme="dark" width="350px" data-numposts="5"></div>
