

<!-- <div class="container text-center">
    <h1>Discuss your love of beer</h1>
</div> -->


<!-- Twitter Feed -->
<div class="twitter">
  <!-- <h2>Twitter #CRAFTBEER</h2> -->


<a class="twitter-timeline" href="https://twitter.com/search?q=%23craftbeerzilla%20OR%20%23craftbeer" data-widget-id="664603781015822336">Tweets about #craftbeerzilla OR #craftbeer</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


<!--   <div class="fb-comments" id="beerspeakComments" data-href="https://craft-beerzilla.herokuapp.com/beerspeak" data-colorscheme="dark" width="400px" height="500px" data-numposts="5"></div>
  </div> -->


<script>
twttr.widgets.load()
FB.XFBML.parse()
</script>
