<ng-include src="'/views/partials/widgetreload.html'"></ng-include>



<div class="container text-center">
    <h1>Discuss your love of beer</h1>
    <!-- <p>{{beerspeak.message}}</p> -->
</div>





<div class="fb-comments" data-href="https://craft-beerzilla.herokuapp.com/#/beerspeak" data-colorscheme="dark" width="230px" height="500px" data-numposts="5"></div>

<div class="twitter">
  <h3>#CRAFTBEER</h3>
  <a class="twitter-timeline" href="https://twitter.com/search?q=%23craftbeer%20OR%20%23craftbeerzilla" width="400" height="600" data-chrome="transparent" data-widget-id="637373181527896064">Tweets about #craftbeer OR #craftbeerzilla</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

</div>
