<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>$( document ).ready(function() {
  function reloadWidget(){
  RW.render(null, true);
  FB.XFBML.parse()
}
setTimeout(reloadWidget, 400);
setTimeout(reloadWidget, 800);



});</script>




<div class="container welcome">
    <img class="breweryIcon" ng-src="{{vm.brewery.images.icon}}">
    <h1 class="breweryName">{{vm.brewery.name}}</h1>
    <a href="/#/brewery/{{ vm.brewery.id }}/beers "><button type="button" class="btn beersButton btn-primary">View our Beers!</button></a>
    <!-- <a href="/#/brewerytweets/{{ vm.brewery.id }} "><button type="button" class="btn beersButton btn-primary">News</button></a> -->
    <a href="{{vm.brewery.website}}" target="_blank"><button type="button" class="btn webButton btn-info">Website</button></a>


    <br />
    <br />
    <br />
    <br />

    <h5 class="breweryInfo">address</h5>
    <h5 class="breweryInfo">phonenumber</h5>
    <div class="rw-ui-container"></div>

</div>

<div class="message">
    <!-- {{vm.message}} -->
</div>


<div class="container welcome text-center">
  <h3 class="description">{{vm.brewery.description}}</h3>
</div>


<!-- <div ng-include src="/views/partials/{{brewery.link}}.html"></div> -->


<div class="fb-comments" data-href="http://localhost:3000/#/breweriesshow/{{vm.brewery.id}}" data-colorscheme="dark" width="350px" height="500px" data-numposts="5"></div>



<!-- <p ng-repeat="brewery in main.breweries" ng-show="$index == 0">{{brewery.twitter}}</p> -->

<div class="twitter">
  <a ng-repeat="brewery in main.breweries | limitTo:1" class="twitter-timeline" href="https://twitter.com/search?q= width="200" height="600" data-chrome="transparent" data-widget-id="{{brewery.twitter}}"></a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

</div>

<div class="twitter_append">





<script type="text/javascript">(function(d, t, e, m){

    // Async Rating-Widget initialization.
    window.RW_Async_Init = function(){

        RW.init({
            huid: "253687",
            uid: "a924860d7a6b9bef4be2ebaa771f0276",
            source: "website",
            options: {
                "size": "medium",
                "style": "oxygen",
                "isDummy": false
            }
        });
        RW.render();
    };
        // Append Rating-Widget JavaScript library.
    var rw, s = d.getElementsByTagName(e)[0], id = "rw-js",
        l = d.location, ck = "Y" + t.getFullYear() +
        "M" + t.getMonth() + "D" + t.getDate(), p = l.protocol,
        f = ((l.search.indexOf("DBG=") > -1) ? "" : ".min"),
        a = ("https:" == p ? "secure." + m + "js/" : "js." + m);
    if (d.getElementById(id)) return;
    rw = d.createElement(e);
    rw.id = id; rw.async = true; rw.type = "text/javascript";
    rw.src = p + "//" + a + "external" + f + ".js?ck=" + ck;
    s.parentNode.insertBefore(rw, s);
    }(document, new Date(), "script", "rating-widget.com/"));</script>



