<ng-include src="'/views/partials/widgetreload.html'"></ng-include>


<div id="laBreweriesTable" class="container">


<h2 id="nearbyBreweries">Los Angeles Breweries:  <a href="http://www.brewerydb.com/add/brewery" target="blank" title=""><button type="button" class="btn btn-danger newBreweryButton">Add new brewery</button></a></h2>

<table class="table breweryTable table-bordered">
  <thead>
    <tr>
      <td class="td1">Name</td>
      <!-- <td  class="td2">Average Rating</td> -->
      <td class="td3">City</td>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="brewery in main.breweries | orderBy:'name'">
      <td class="td1 breweryNameBtn"><a href="/breweriesshow/{{ brewery.link }}" ><button type="button" class="btn btn-info">{{ brewery.name }}</button></a>
        <br>
      <div class="rw-ui-container"></div></td>
      <!-- <td class="td2"></td> -->
      <td class="td3">{{ brewery.city }}</td>
    </tr>
  </tbody>
</table>

</div>



<ng-include src="'/views/partials/ratingwidget.html'"></ng-include>




