<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>$( document ).ready(function() {
  function reloadWidget(){
  RW.render(null, true);
  FB.XFBML.parse()
}
setTimeout(reloadWidget, 400);
setTimeout(reloadWidget, 800);



});</script>
<br>


<div class="container">
<!-- <h1 id="beers">Beers  <a href="/#/breweries/newbeer" title=""><button type="button" class="btn btn-danger">Add new beer</button></a></h1> -->
<table class="table table-bordered">
  <thead>
    <tr>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="beershow in vm.beershow track by $index | orderBy:'name'">
      <td>
        <h2 class="beername">{{beershow.name}}</h2>
        <div class="rw-ui-container rating"></div>
        <img class="beerIcon" ng-src="{{beershow.labels.medium}}">
        <h4 class="description">{{beershow.description}}</h4>
        <!-- <h4>{{beershow.style.category.name}}</h4> -->
        <h4 class="beerInfo">{{beershow.style.name}}</h4>
        <h3 class="beerInfo">{{beershow.available.description}}</h3>
        <h4 class="beerInfo">ABV: {{beershow.abv}}</h4>
        <!-- <h4>{{beershow.glass.name}}</h4> -->
        </td>
    </tr>
  </tbody>
</table>
</div>

 <div id="spinner">
        <h2>Loading beer goodness...</h2>
        <img src="http://rsmg.pbsrc.com/albums/v738/LadyFire/Smileys/Beer_poured.gif~c200" alt="Loading..."/>
 </div>


<ng-include src="'/views/partials/ratingwidget.html'"></ng-include>
