<ng-include src="'/views/partials/widgetreload.html'"></ng-include>

<div class="row">
<div class="col-md-12">
<div class="container welcome text-center">
    <h1 id="welcomeText">Welcome to Craft Beer-Zilla!!!</h1>
    <h3>Search for your favorite breweries and get reviews!</h3>

</div>
</div>
</div>

</br>
</br>
<!-- for facebook widget -->
<!-- <div class="fb-like" data-href="https://craft-beerzilla.herokuapp.com/" data-width="200px" data-layout="box_count" data-action="like" data-show-faces="true" data-share="true"></div> -->


<br>
<br>
<br>

<footer>
  <a href="http://www.brewerydb.com/" target="blank">
  <div>
    <img id="breweryBanner" src="../images/Powered-By-BreweryDB.png">
  </div>
  </a>
  <h4 id="love">Made with <i class="fa fa-heart" aria-hidden="true"></i> by <a id="kevolink" href="http://kjh311.github.io/Kevin_Huelsmann_Portfolio/" target="blank">Kevin Huelsmann</a></h4>

</footer>
</br>






<!-- <script>
FB.XFBML.parse()
</script> -->
