<div class="container text-center">

<form action="" method="POST" class="form-horizontal" role="form">
    <div class="form-group">
      <h2>New Beer</h2>
    </div>

    <h4>Beer Name (required):  <input class="input" placeholder="Beer name"></h4>
    <br>
    <h4>Select Style (required)

     <select class="dropdown">
        <option>Adambier</option>
        <option>Aged Beer (Ale or Lager)</option>
        <option>American-Style Amber (Low Calorie) Lager</option>
        <option>American-Style Amber Lager</option>
        <option>American-Style Amber/Red Ale</option>
        <option>American-Style Barley Wine Ale</option>
        <option>American-Style Black Ale</option>
        <option>American-Style Brown Ale</option>
        <option>American-Style Cream Ale or Lager</option>
        <option>American-Style Dark Lager</option>
        <option>American-Style Ice Lager</option>
        <option>American-Style Imperial Porter</option>
        <option>American-Style Imperial Stout</option>
        <option>American-Style India Pale Ale</option>
        <option>American-Style Lager</option>
        <option>American-Style Light (Low Calorie) Lager</option>
        <option>American-Style Low-Carbohydrate Light Lager</option>
        <option>American-Style Malt Liquor</option>
        <option>American-Style Märzen / Oktoberfest</option>
        <option>American-Style Pale Ale</option>
        <option>American-Style Pilsener</option>
        <option>American-Style Premium Lager</option>
        <option>American-Style Sour Ale</option>
        <option>American-Style Stout</option>
        <option>American-Style Strong Pale Ale</option>
        <option>American-Style Wheat Wine Ale</option>
        <option>Apple Wine</option>
        <option>Australasian, Latin American or Tropical-Style Light Lager</option>
        <option>Australian-Style Pale Ale</option>
        <option>Baltic-Style Porter</option>
        <option>Bamberg-Style Bock Rauchbier</option>
        <option>Bamberg-Style Helles Rauchbier</option>
        <option>Bamberg-Style Märzen Rauchbier</option>
        <option>Bamberg-Style Weiss (Smoke) Rauchbier (Dunkel or Helles)</option>
        <option>Belgian-Style Blonde Ale</option>
        <option>Belgian-Style Dark Strong Ale</option>
        <option>Belgian-Style Dubbel</option>
        <option>Belgian-Style Flanders Oud Bruin or Oud Red Ales</option>
        <option>Belgian-style Fruit Beer</option>
        <option>Belgian-Style Fruit Lambic</option>
        <option>Belgian-Style Gueuze Lambic</option>
        <option>Belgian-Style Lambic</option>
        <option>Belgian-Style Pale Ale</option>
        <option>Belgian-Style Pale Strong Ale</option>
        <option>Belgian-Style Quadrupel</option>
        <option>Belgian-Style Table Beer</option>
        <option>Belgian-Style Tripel</option>
        <option>Belgian-Style White (or Wit) / Belgian-Style Wheat</option>
        <option>Berliner-Style Weisse (Wheat)</option>
        <option>Bohemian-Style Pilsener</option>
        <option>Braggot</option>
        <option>Brett Beer</option>
        <option>British-Style Barley Wine Ale</option>
        <option>British-Style Imperial Stout</option>
        <option>Brown Porter</option>
        <option>California Common Beer</option>
        <option>Chili Pepper Beer</option>
        <option>Chocolate / Cocoa-Flavored Beer</option>
        <option>Classic English-Style Pale Ale</option>
        <option>Classic Irish-Style Dry Stout</option>
        <option>Coffee-Flavored Beer</option>
        <option>Common Cider</option>
        <option>Common Perry</option>
        <option>Contemporary Gose</option>
        <option>Cyser (Apple Melomel)</option>
        <option>Dark American Wheat Ale or Lager with Yeast</option>
        <option>Dark American Wheat Ale or Lager without Yeast</option>
        <option>Dark American-Belgo-Style Ale</option>
        <option>Dortmunder / European-Style Export</option>
        <option>Double Red Ale</option>
        <option>Dry Lager</option>
        <option>Dry Mead</option>
        <option>Dutch-Style Kuit, Kuyt or Koyt</option>
        <option>Energy Enhanced Malt Beverage</option>
        <option>English Cider</option>
        <option>English-Style Brown Ale</option>
        <option>English-Style Dark Mild Ale</option>
        <option>English-Style India Pale Ale</option>
        <option>English-Style Pale Mild Ale</option>
        <option>English-Style Summer Ale</option>
        <option>European-Style Dark / Münchner Dunkel</option>
        <option>Experimental Beer (Lager or Ale)</option>
        <option>Extra Special Bitter</option>
        <option>Field Beer</option>
        <option>Flavored Malt Beverage</option>
        <option>Foreign (Export)-Style Stout</option>
        <option>French & Belgian-Style Saison</option>
        <option>French Cider</option>
        <option>French-Style Bière de Garde</option>
        <option>Fresh "Wet" Hop Ale</option>
        <option>Fruit Beer</option>
        <option>Fruit Cider</option>
        <option>Fruit Wheat Ale or Lager with or without Yeast</option>
        <option>German-Style Altbier</option>
        <option>German-Style Doppelbock</option>
        <option>German-Style Eisbock</option>
        <option>German-Style Heller Bock/Maibock</option>
        <option>German-Style Kölsch / Köln-Style Kölsch</option>
        <option>German-Style Leichtbier</option>
        <option>German-Style Leichtes Weizen / Weissbier</option>
        <option>German-Style Märzen</option>
        <option>German-Style Oktoberfest / Wiesen (Meadow)</option>
        <option>German-Style Pilsener</option>
        <option>German-Style Rye Ale (Roggenbier) with or without Yeast</option>
        <option>German-Style Schwarzbier</option>
        <option>Ginjo Beer or Sake-Yeast Beer</option>
        <option>Gluten-Free Beer</option>
        <option>Golden or Blonde Ale</option>
        <option>Grodziskie</option>
        <option>Herb and Spice Beer</option>
        <option>Historical Beer</option>
        <option>Imperial or Double India Pale Ale</option>
        <option>Imperial Red Ale</option>
        <option>Indigenous Beer (Lager or Ale)</option>
        <option>International-Style Pale Ale</option>
        <option>International-Style Pilsener</option>
        <option>Irish-Style Red Ale</option>
        <option>Kellerbier (Cellar beer) or Zwickelbier - Ale</option>
        <option>Kellerbier (Cellar beer) or Zwickelbier - Lager</option>
        <option>Leipzig-Style Gose</option>
        <option>Light American Wheat Ale or Lager with Yeast</option>
        <option>Light American Wheat Ale or Lager without Yeast</option>
        <option>Metheglin</option>
        <option>Mixed Culture Brett Beer</option>
        <option><option>Münchner (Munich)-Style Helles</option>
        <option><option>New England Cider</option>
        <option><option>Non-Alcoholic (Beer) Malt Beverages</option>
        <option><option>Oatmeal Stout</option>
        <option><option>Old Ale</option>
        <option><option>Open Category Mead</option>
        <option><option>Ordinary Bitter</option>
        <option><option>Other Belgian-Style Ales</option>
        <option><option>Other Fruit Melomel</option>
        <option><option>Other Specialty Cider or Perry</option>
        <option><option>Other Strong Ale or Lager</option>
        <option><option>Pale American-Belgo-Style Ale</option>
        <option><option>Pumpkin Beer</option>
        <option>Pyment (Grape Melomel)</option>
        <option>Robust Porter</option>
        <option>Rye Ale or Lager with or without Yeast</option>
        <option>Scotch Ale</option>
        <option>Scottish-Style Export Ale</option>
        <option>Scottish-Style Heavy Ale</option>
        <option>Scottish-Style Light Ale</option>
        <option>Semi-Sweet Mead</option>
        <option>Session Beer</option>
        <option>Session India Pale Ale</option>
        <option>Smoke Beer (Lager or Ale)</option>
        <option>Smoke Porter</option>
        <option>South German-Style Bernsteinfarbenes Weizen / Weissbier</option>
        <option>South German-Style Dunkel Weizen / Dunkel Weissbier</option>
        <option>South German-Style Hefeweizen / Hefeweissbier</option>
        <option>South German-Style Kristall Weizen / Kristall Weissbier</option>
        <option>South German-Style Weizenbock / Weissbock</option>
        <option>Special Bitter or Best Bitter</option>
        <option>Specialty Beer</option>
        <option>Specialty Honey Lager or Ale</option>
        <option>Specialty Stouts</option>
        <option>Strong Ale</option>
        <option>Sweet Mead</option>
        <option>Sweet or Cream Stout</option>
        <option>Traditional German-Style Bock</option>
        <option>Traditional Perry</option>
        <option>Vienna-Style Lager</option>
        <option>Wild Beer</option>
        <option>Wood- and Barrel-Aged Beer</option>
        <option>Wood- and Barrel-Aged Dark Beer</option>
        <option>Wood- and Barrel-Aged Pale to Amber Beer</option>
        <option>Wood- and Barrel-Aged Sour Beer</option>
        <option>Wood- and Barrel-Aged Strong Beer</option>
     </select>


    <h4> Description:  <input class="description_inputBox" placeholder="Description"></h4>
    <br>

    <h4>ABV: <input class="input" placeholder="Alchohol by volume"></h4>
    <br>

    <br>




    <div class="form-group">
      <div class="col-sm-10 col-sm-offset-2">
        <button type="submit" class="btn btn-primary">Submit Beer for Review</button>
      </div>
    </div>
</form>
</div>





