<!-- <p>This is the new brewery page</p>

{{vm.message}} -->

<div class="container text-center">


<form action="" method="POST" class="form-horizontal" role="form">
    <div class="form-group">
      <h2>New Brewery</h2>
    </div>

    <h4>Name(required) <input class="input" placeholder="Brewery name"></h4>
    <br>
    <h4>Description:<input class="description_inputBox" placeholder="Description"></h4>
    <br>
    <h4>Website:  <input class="input" placeholder="Website"></h4>
    <br>
    <h4>Year Established:  <input class="input" placeholder="Year Established"></h4>
    <br>



    <div class="form-group">
      <div class="col-sm-10 col-sm-offset-2">
        <button type="submit" class="btn btn-primary">Submit Brewery for Review</button>
      </div>
    </div>
</form>
</div>
