<div class="container text-center">

<form action="" method="POST" class="form-horizontal" role="form">
    <div class="form-group">
      <h2>New Beer</h2>
    </div>

    <h4>Beer Name: (required) <input class="input" placeholder="Beer name"></h4>
    <br>
    <h4>DropDown Style (required)<ul class="dropdown-menu" ng-repeat="style in vm.styles | orderBy:'name'">
          <li>{{style.name}}</li>
        </ul></h4>

    <h4> Description:  <input class="description_inputBox" placeholder="Description"></h4>
    <br>

    <h4>ABV: <input class="input" placeholder="Alchohol by volume"></h4>
    <br>

    <br>




    <div class="form-group">
      <div class="col-sm-10 col-sm-offset-2">
        <button type="submit" class="btn btn-primary">Submit Beer for Review</button>
      </div>
    </div>
</form>
</div>

<br>
<br>
