

<h1>Search result page</h1>

<div class="container">

  <h2>Search Results</h2>

    <table class="table table-bordered">
      <thead>
        <tr>
          <!-- <td class="td1">Name</td>
          <td class="td2">Type</td> -->
          <!-- <td class="td3">Average Rating</td> -->
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="result in vm.searchresults track by $index">
          <td class="td1"><a href="/#/breweriesshow/{{ result.link }}" >
            <button type="button" class="btn btn-info">{{ result.name }}
            </button></a>
            <h3>{{result.description}}</h3>
            <h3>type: {{result.type}}</h3>
            </td>
          <!-- <td class="td3"><div class="rw-ui-container"></div></td> -->
        </tr>
      </tbody>
    </table>

</div>


