<ng-include src="'/views/partials/widgetreload.html'"></ng-include>


  <br>
  <br>

<div class="container text-center">

    <form  role="search" ng-submit="vm.doSearch()">
      <div class="form-group">
        <input id="search-bar" ng-model="vm.query" type="text" class="form-control" placeholder="Search Breweries / Beers / Guilds">
        </div>
        <input type="submit" id="searchBtn" class="btn searchSubmit btn-info">
    </form>

  <!-- <h2>Search Results</h2> -->

    <table class="table ">
      <thead>
        <tr>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="brews in vm.results">
          <td>
            <a href="/#/breweriesshow/{{ brews.id }}" ><button type="button" class="btn btn-info"><h4>{{ brews.name }}</h4></button></a>
            <h4>{{brews.type}}</h4>
            <h3>{{brews.description}}</h3>

        </tr>
      </tbody>
    </table>

</div>
{{vm.message}}

<ng-include src="'/views/partials/ratingwidget.html'"></ng-include>
