<ng-include src="'/views/partials/widgetreload.html'"></ng-include>


<div class="container">


  <h2>Search Results</h2>

    <table class="table table-bordered">
      <thead>
        <tr>
          <td class="td1">Name</td>
          <td  class="td2">Average Rating</td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="brewery in main.breweries | orderBy:'name'">
          <td class="td1"><a href="/#/breweriesshow/{{ brewery.link }}" ><button type="button" class="btn btn-info">{{ brewery.name }}</button></a></td>
          <td class="td2"><div class="rw-ui-container"></div></td>
        </tr>
      </tbody>
    </table>

</div>
{{vm.message}}

<ng-include src="'/views/partials/ratingwidget.html'"></ng-include>
