  <script>$(window).load(function() {
    // Animate loader off screen
    $(".se-pre-con").fadeOut("slow");;
  });
  </script>

<div class="se-pre-con"></div>


<div class="container  text-center">

<table class="table table-bordered">
  <thead>
    <tr>
      <td><h2 id="beerStyles">Craft Beer Styles:</h2></td>
 </tr>



  </thead>
  <tbody>
    <tr ng-repeat="style in vm.styles  | orderBy:'name'">
      <td>
        <h2 class="styleInfoName">{{style.name}}</h2>
        <h4 class="styleInfo">{{style.description}}</h4>
      </td>
    </tr>
  </tbody>
</table>
</div>

 <div id="spinner">
        <h2 class="loadingBeer">Loading beer goodness...</h2>
        <img  class="loadingBeerGif" src="http://www.gify.net/data/media/331/piwo-ruchomy-obrazek-0062.gif" alt="Loading..."/>
 </div>

